<% provide(:title,"Home")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Elearning System</title>
  </head>
  <body>    
      <div class="center jumbotron">
        <h1>Welcome to Elearning System</h1>
        <h2>
          This is the home page.
        </h2>
<<<<<<< HEAD
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
=======
        <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
>>>>>>> f874be172855e94e056cb5457f2581fe30677c9e
      </div>
  </body>
</html>