<% provide(:title,"Edit Profile")%>
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="box-sand">
    <legend>Feel free to edit your user info.</legend>
    <hr/>
      <%= render "form" %>
    </div>
  </div>
</div>
