<<<<<<< HEAD
<% provide(:title,"Add New User")%>
<div class="container">
  <%= render "form" %>
</div>
=======
<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
>>>>>>> f874be172855e94e056cb5457f2581fe30677c9e
